# Dependencies
/grongardapp/node_modules/
/grongardapp/.pnp
/grongardapp/.pnp.js

# Testing
/grongardapp/coverage



# Misc
.DS_Store
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache
/grongardapp/.cache
/grongardapp/node_modules/.cache

# Large files
*.pack